{:paths ["src/main/clojure" "src/main/resources"]
 :deps
 {org.clojure/clojure {:mvn/version "1.10.1"}
  org.clojure/core.async {:mvn/version "1.3.610"}
  org.clojure/core.cache {:mvn/version "1.0.207"}
  com.stuartsierra/component {:mvn/version "1.0.0"}
  cljfx/cljfx {:mvn/version "1.7.11"}
  parinferish/parinferish {:mvn/version "0.8.0"}}
  
 :aliases
 {:test
  {:extra-paths ["src/test/clojure" "src/test/resources"]
   :extra-deps 
   {org.clojure/test.check {:mvn/version "1.1.0"}}}
   
  
  :dev
  {:extra-paths ["src/dev/clojure" "src/dev/resources"]
   :extra-deps
   {org.clojure/tools.namespace {:mvn/version "1.1.0"}}}
   
  :derl
  {:main-opts ["-m" "org.ajoberstar.derl.ui"]}}}
